MONGO_URI = "mongodb+srv://jobportal:1234@jobportal.or090.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(MONGO_URI)
PINECONE_API_KEY = "pcsk_4Qhn6s_49CuFKa6tVPtGobDZeaLkASUEKYg7QP2sUQokVqnMcUm8nvHnFNtatUmYvP6xfJ"
PINECONE_ENV = "us-east-1"